<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shilpo Charcha</title>
    <link rel="stylesheet" href="/css/styles.css">
    
       
    
</head>
<body>
    <%- include('partials/navbar2') %>
    <%- include('partials/top-heading') %>
    <div class="hero-head">

        <%- include('partials/herosection') %>
        <div class="live-details" style="padding: 20px;">
            <%- include('partials/readinglist') %>
            <h3 style="margin-top: 25px;font-size: 24px;">Weather Report</h3>
            <p>Gurgaon: 30°C, Sunny</p>
            <button class="detail-button">Detail</button>
        </div>
    </div>

   
    <%- include('partials/newsabout') %>
    <%- include('partials/video-news') %>
    <%- include('partials/telecast') %>
    <%- include('partials/newsSection') %>
    

    
    
    
    
    <%- include('partials/footer') %>

   
    


    

    <script src="/js/app.js"></script>
</body>
</html>